.container {
  margin-top: 50px;
  border: 1px solid black;
  background-color: antiquewhite;
  max-width: 600px;
  min-width: 600px;
}
.search-form {
  margin-top: 10px;
}
.search-bar {
  padding: 4px;
}
.search-btn {
  padding: 4px;
}

.row-container {
  margin: 20px;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
img {
  width: 180px;
  margin: 60px -70px;
}
.city {
  font-size: 40px;
  margin-top: 20px;
  margin-left: 20px;
}
.date,
.time {
  font-size: 20px;
}

.currentTemp {
  margin-top: 20px;
  font-size: 38px;
}
.currentCond {
  font-size: 14px;
  margin-top: -10px;
}
ul.weatherData {
  margin-top: 100px;
  text-align: start;
  margin-left: 60px;
}
